* {
    box-sizing: border-box;
}
.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 75vw;
    height: 75vh;
    border: 2px solid rgba(68, 158, 68, 0.841);
    border-radius: 5%;
    background-color: rgb(198, 255, 198);
    
}

.weather_card p {
    margin: 0;
}

.weather_city {
    color: rgba(68, 158, 68, 0.841);
    font-weight: bold;
    word-wrap: normal;
    text-align: center;
    position: relative;
}

/* .weather_city::after , .weather_description::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 1px;
    width: 100%;
    background-color: grey;
} */

.weather_city, 
.weather_temp {
    font-size: 40px;
}

.weather_description {
    font-size: 25px;
    position: relative;
}

.weather_description::first-letter {
    text-transform: capitalize;
}

.weather_btn {
    border-radius: 10%;
    border: none;
    background-color: rgba(68, 158, 68, 0.841);
    margin-bottom: 20px;
}

.weather_btn > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
}

hr {
    width: 100%;
}

.weather_icon > img {
    width: 9.5em;
    height: 9.5em;
}



/* @media (min-width: 768px) and (max-width: 1023px) {
    .weather_card {
        min-width: 40vw;
        max-width: 55vh;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .weather_city {
        padding: 0;
        font-size: 35px;
    }

    .weather_description {
        font-size: 20px;
    }

    .btn_onclick_weather, 
    .weather_btn {
        width: auto;
        height: auto;
        margin: 0;
    }
    
    .btn_onclick_weather {
        margin-bottom: 20px;
    }

    .weather_icon > img {
        width: 120px;
    }

    .weather_btn{
        width: 45%;
        height: 35px
    }

    hr {
        margin: 0 0 0 30px
    }

} */